 .thing, .thing .circle, .magnet {







  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.thing .circle, .magnet-zone {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.explain {
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans', 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.8, transparent), to(rgba(0, 0, 0, 0.25)));
  background: -webkit-linear-gradient(transparent 80%, rgba(0, 0, 0, 0.25) 100%);
  background: linear-gradient(transparent 80%, rgba(0, 0, 0, 0.25) 100%);
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;


}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

.thing {

  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin: 0px;
  cursor: pointer;
}
.thing .circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #888;
  background-image: url(http://gravatar.com/avatar/84eac3a27d1acf0ef0d835d92c999b0d?s=300);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
}
.thing.edge {
  -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.345, 1.1);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.345, 1.1);
}

.magnet-zone {
  pointer-events: none;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.175, 0.885, 0.145, 1.22);
  transition: -webkit-transform 400ms cubic-bezier(0.175, 0.885, 0.145, 1.22);
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.145, 1.22);
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.145, 1.22), -webkit-transform 400ms cubic-bezier(0.175, 0.885, 0.145, 1.22);
}

.magnet-zone {
  position: absolute;
  text-align: center;
  bottom: 10px;
  padding: 10px 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%) translateZ(0);
          transform: translate(-50%, 100%) translateZ(0);




}
.magnet-zone.overlap .magnet {
  -webkit-transform: scale(1.08) translateZ(0);
          transform: scale(1.08) translateZ(0);


}

.touching .circle {
  -webkit-transform: scale(0.9) translateZ(0);
          transform: scale(0.9) translateZ(0);
}

.moving .container:before {
  opacity: 1;
}
.moving .magnet-zone {
  -webkit-transform: translate(-50%, 0) translateZ(0);
          transform: translate(-50%, 0) translateZ(0);
}

.magnet-zone:after {
  pointer-events: none;
  //content: '\00d7';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) translateZ(0);
          transform: translateY(-50%) translateZ(0);
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: #fff;

}

.magnet {

  pointer-events: none;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.145, 1.25);
  transition: -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.145, 1.25);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.145, 1.25);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.145, 1.25), -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.145, 1.25);
  -webkit-transform: scale(0.7) translateZ(0);
          transform: scale(0.7) translateZ(0);
  border: 2px solid #fff;
}
